/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  background-image: url('./Lamborghini.jpg');
  background-size: cover; /* atau gunakan 'contain' sesuai kebutuhan */
  background-position: center; /* Posisi gambar di tengah */
  background-repeat: no-repeat; /* Mencegah pengulangan gambar */
  margin: 0;
  padding: 0;
}

  
  /* Header Styles */
  h1 {
    font-size: 2em;
    color: #444;
    text-align: center;
    margin-top: 20px;
  }
  